<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="WindowsFormsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="ELASTIC_APM_SERVER_URLS" value="http://localhost:5000"/>
		<add key="ELASTIC_APM_SERVICE_NAME" value="Estación"/>
		<add key="ELASTIC_APM_SPAN_FRAMES_MIN_DURATION" value="0"/>
		<add key="ELASTIC_APM_MAX_QUEUE_EVENT_COUNT" value="500000"/>
		<add key="ELASTIC_APM_METRICS_INTERVAL" value="20"/>
	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="file"
					xsi:type="File"
					layout="${longdate} ${message} ${exception:format=tostring}"
					fileName="${basedir}/logs/${shortdate}.log" autoFlush ="true" />
			<target name="console" xsi:type="ColoredConsole" layout="${message}" />
			<target name="apm"
					xsi:type="apm"
					layout="${message}${onexception:${newline}EXCEPTION:${newline}${exception:format=tostring}}"
					/>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="file"/>
			<logger name="*" minlevel="Debug" writeTo="console"/>
			<logger name="*" minlevel="Debug" writeTo="apm"/>
		</rules>
	</nlog>
</configuration>